ul,
ol,
li {
    padding: 0; list-style: none;
}

button {
     background: none;
     border: none;
     padding: 0;
     margin: 0;
     font: inherit;
     cursor: pointer;
}

.header {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;

}

.header-menu {

}

.header-logo {
   display: block;
   width: 148px;
   height: 105px;
}

.header-contacts {

}

.cover-title {
    padding: 165px 50px 207px 50px;
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    z-index: 6;

}

h2 {
    text-transform: uppercase;

}

main {
    margin: 0;
    
}

.cover {
    margin: 0;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    min-height: 757px;
    position: relative;

}

.overlay {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.60);
    width: 100%;
    height: 100%;
    z-index: 5;
}

.cover-title-one {
    grid-column-start: 1;
    grid-row-start: 1;
}

.cover-title-two {
    grid-column-start: 2;
    grid-row-start: 2;
}

.cover-title-three {
    grid-column-start: 3;
    grid-row-start: 3;
}


.description {
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 150px;
    align-items: center;
    gap: 100px;
    padding-left: 50px; 
    padding-right: 50px; 
}

.description-title {
    font-size: 22px;
    font-weight: 400;
    word-spacing: 15px;
    position: relative;
    color: white;
    z-index: 6;
}

.description-button {
    position: relative;
    color: white;
    z-index: 6;
    font-size: 22px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid white;
    padding: 12px 24px;
    
}

.lots {
     margin: 180px 24px 120px 24px;
     
}

.lots-title {
    font-weight: 700;
    font-size: 40px;
    display: inline-block;
    padding: 27px 40px;
}

.lots-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.lots-a {
    height: 100%;
    color: white;
}
.lots-article {
    height: 100%;
}

.frame {

}

.cinema {
   position: relative;
   background-image: url(../images/card-lot-01.jpg);
   background-size: cover;
   background-position: center;
   width: 334px;
   height: 596px;
}

.book {
    position: relative;
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
    width: 334px;
    height: 596px;
}

.painting {
    position: relative;
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    width: 334px;
    height: 596px;
}

.more {

}

.about {
    margin: 0 24px 180px 24px;
    padding: 35px 0 13px 47px;
    display: grid;
    grid-template-columns: 334px auto;

}

.logo-column {

}

.about-column {

}

footer {
   margin: 0;
}


.footer {
    margin: 0;
    padding: 0 50px 82px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.social {
    display: grid;
    grid-template-columns: repeat(3, auto);
}
