body {
    background-color: aliceblue;
}

h1 {
    font-size: 48px;
}

h2 {

}

header {
    background-color: aquamarine;
    width: 1100;
    height: 293;

}

main {
    background-color: bisque;
}

footer {
    background-color: blueviolet;
}

.menu {

}

.logo {
   
}

.contacts {

}

.cover {
    margin: 0;
    background-color: aqua;

}

.desctiption {

}

.lots {
     margin:0;
     padding: 180px 24px 120px 24px;
}

.frame {

}

.more {

}

.about {

}

.logo-column {

}

.about-column {

}
