/* место для вашего кода */
h1 {

}

h2 {

}

header {

}

main {

}

footer {

}

.menu {

}

.logo {

}

.contacts {

}

.cover {

}

.desctiption {

}

.lots {

}

.frame {

}

.more {

}

.about {

}

.logo-column {

}

.about-column {

}
