/* место для вашего кода */
h1 {
    font-size: 48px;
}

h2 {

}

header {
    background-color: aquamarine;
}

main {
    background-color: bisque;
}

footer {
    background-color: blueviolet;
}

.menu {

}

.logo {

}

.contacts {

}

.cover {
    
    background-color: aqua;

}

.desctiption {

}

.lots {

}

.frame {

}

.more {

}

.about {

}

.logo-column {

}

.about-column {

}
