body {
    background-color: aliceblue;
}

h1 {
    font-size: 48px;
}

h2 {

}

header {
    background-color: aquamarine;
    margin: 0;
    /*width: 1100;
    height: 293;*/

}

main {
    background-color: bisque;
    
}

footer {
    background-color: blueviolet;
    margin: 0;
}

.menu {

}

.logo {
   
}

.contacts {

}

.cover {
    margin: 0;
    background-color: aqua;

}

.desctiption {

}

.lots {
     margin: 180px 24px 120px 24px;
     
}

.frame {

}

.more {

}

.about {
    margin: 0 24px 180px 24px;

}

.logo-column {

}

.about-column {

}
