body {
    background-color: aliceblue;
}

h1 {
    font-size: 48px;
}

h2 {

}

.header {
    /*background-color: aquamarine;*/
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    /*width: 1100;
    height: 293;*/

}

main {
    background-color: bisque;
    
}

footer {
    background-color: blueviolet;
    margin: 0;
}

.menu {

}

.logo {
   
}

.contacts {

}

.cover {
    margin: 0;
    background-color: aqua;
    background-image: url(../images/cover.jpg);

}

.desctiption {

}

.lots {
     margin: 180px 24px 120px 24px;
     
}

.frame {

}

.cinema {
   background-image: url(../images/card-lot-01.jpg);
}

.book {
    background-image: url(../images/card-lot-02.jpg);
}

.painting {
    background-image: url(../images/card-lot-03.jpg);
}

.more {

}

.about {
    margin: 0 24px 180px 24px;

}

.logo-column {

}

.about-column {

}
