/* место для вашего кода */
h1 {
    font-size: 48px;
}

h2 {

}

header {

}

main {

}

footer {

}

.menu {

}

.logo {

}

.contacts {

}

.cover {
    background-image: url('/images/cover.jpg');
    background-color: aqua;

}

.desctiption {

}

.lots {

}

.frame {

}

.more {

}

.about {

}

.logo-column {

}

.about-column {

}
